{{template "header"}}
    <form>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter in your blog content:</label>
            <textarea placeholder="Blog Content" required class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-dark mb-3"> Submit </button>
        </div>
    </form>
{{template "footer"}}