{{template "header"}}
    <form action="/newblog" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enter Your First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter in your blog title:</label>
            <textarea placeholder="Blog Content" required class="form-control" id="blogTitle" name="blogTitle" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter in your blog content:</label>
            <textarea placeholder="Blog Content" required class="form-control" id="blogContent" name="blogContent" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-dark mb-3"> Submit </button>
        </div>
    </form>
{{template "footer"}}