{{template "header"}}
<h1>{{.post.TitlePost}}</h1>

<p class="text-secondary">Written by {{.post.FirstName}}</p>

<p>{{.post.ContentPost}}</p>



<div class="mb-3">
    <form action="/edit/{{.post.PostID}}" method="get">
        <button type="submit" class="btn btn-dark">Edit</button>
    </form>
</div>

<!-- added foundation for post request for delete function -->
<div class="mb-3">
    <form action="/posts" method="post">
        <button type="button" class="btn btn-outline-danger">Delete</button>
    </form>
</div>







{{template "footer"}}