{{template "header"}}
<div class="row mt-1">
    {{if .error}}
    <h1>No posts here. Create them <a href="/newblog">here!</a></h1>
    {{end}}
    {{if .hasPosts}}
      {{ range $element := .bigArray }}
        <div class="col-sm-3 pb-1">
          <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{$element.TitlePost}}</h5>
                <p class="card-text">Author: {{$element.FirstName}} </p>
                <a href="/posts/{{$element.PostID}}" class="btn btn-primary">Read it here</a>
              </div>
          </div>
        </div>
      {{end}}
    {{end}}
    </div>
{{template "footer"}}