{{template "header" .}}
<h1>{{.post.Title}}</h1>

<p class="text-secondary">Written by {{.post.Name}}</p>

<p>{{.post.Content}}</p>


{{ if .User }}
<div class="mb-3">
    <form action="/posts/{{.id}}/edit" method="get">
        <button type="submit" class="btn btn-dark">Edit</button>
    </form>
</div>

<!-- added foundation for post request for delete function -->

<div class="mb-3">
    <form action="/posts/{{.id}}/delete" method="post">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
</div>

{{ end }}







{{template "footer"}}