{{template "header"}}
<h1>{{.post.Title}}</h1>

<p class="text-secondary">Written by {{.post.Name}}</p>

<p>{{.post.Content}}</p>



<div class="mb-3">
    <form action="/edit/{{.id}}" method="get">
        <button type="submit" class="btn btn-dark">Edit</button>
    </form>
</div>

<!-- added foundation for post request for delete function -->
<div class="mb-3">
    <form action="/delete/{{.id}}" method="post">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
</div>







{{template "footer"}}