{{template "header" .}}
    <h1>{{.Title}}</h1>
    <p>{{.Body}}</p>
    {{if .error}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span>{{.errorMessage}}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {{end}}
    <div class="container">
        <form method="POST" action="/signup">
                <div class="mb-3">
                        <label for="username" class="form-label">Name</label>
                        <input type="text" class="form-control" id="username" 
                        name="username" placeholder="Name" required minlength="4" autocomplete="none">
                </div>
                <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" 
                        placeholder="email@domain.com" required minlength="3" autocomplete="none">
                        <small id="emailHelp" class="form-text text-muted">This is what will be used to create your account.</small>
                </div>
                <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password"
                         name="password" placeholder="Password here" minlength="5" required>
                </div>
               
                <div class="mb-3">
                        <button type="submit" class="btn btn-dark mb-3">Sign Up</button>
                </div>
        </form>
</div>
{{template "footer"}}
