{{template "header"}}
    <h1>{{.Title}}</h1>
    <p>{{.Body}}</p>

    <div class="container">
        <form method="POST" action="/signup">
                <div class="mb-3">
                        <label for="username" class="form-label">Name</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Name" required>
                </div>
                <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                </div>
                <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password here" required>
                </div>
               
                <div class="mb-3">
                        <button type="submit" class="btn btn-dark mb-3"> Log In </button>
                </div>
        </form>
</div>
{{template "footer"}}
